[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Reflector Simple
Name[de]=Reflector Simple
Comment=A simple GUI for 'reflector'
Comment[de]=Eine simple GUI zum Mirror refreshen
Exec=/usr/local/bin/arcolinux-reflector-simple
Icon=reload
# StartupNotify=false
# Terminal=False
Hidden=false
Categories=GNOME;GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
